<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Usuário Cadastrado</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
  <body style='margin: 0; padding: 0 1em; font-family: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif'  >
    <h1 style='font-size: 32px; text-align: center; margin-top: 10px'>Recuperação de senha:</h1>
    <p>Uma solicitação de recuperação de senha foi realizada para o email {{ email }}.</p>
    <p>Se você não foi o autor da solicitação, ignore.</p>
    <p>Para continuar com a recuperação de senha utilize o token {{ token }} ou clique no link abaixo.</p>
    <a href="{{ link }}">Criar nova senha</a>
    <footer style='margin-top: auto;'>Grupo TGL - Bets</footer>
  </body>
</html>