<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Usuário Cadastrado</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style='margin: 0; padding: 0 1em; font-family: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif'  >
  <h1 style='font-size: 32px; text-align: center; margin-top: 10px'>Bem vindo {{ username }}!</h1>
  <p>O email {{ email }} foi cadastrado com sucesso!</p>
  <p>Nós somos a maior plataforma de apostas do mundo! E ficamos muito felizes com o seu cadastro!</p>
  <p>Aproveite para fazer suas apostas na comodidade da sua casa.</p>
  <footer style='margin-top: auto;'>Grupo TGL - Bets</footer>
</body>
</html>